<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ encore_entry_link_tags('app')}}
        <title>Blog</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
